$button-1: green;
$button-2:red;
$button-3: blue;
$footer-nav: orange;

*,
::before,
::after {
  margin:0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  // 10px/16px = 0625  -> 10px = 1rem
}

body {
  font-family: sans-serif;
  font-weight: 300;
}
